body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
    }
    

    /* Header principal */
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      background-color: white;
      border-bottom: 1px solid #bebebe;
      
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 50px;
      margin-right: 10px;
    }

   

    .nav-links a {
      text-decoration: none;
      color: #44719b;
      font-weight: 600;
      transition: color 0.3s;
      color: rgb(62, 70, 75);
      text-decoration: none;
      margin: 0 20px;
      position: relative;
    }

    

   

    .acciones-derecha {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .acciones-derecha a {
      color: #0057d8;
      text-decoration: none;
      font-weight: bold;
    }

    .boton-ayuda {
      background-color: #0057d8;
      color: white;
      padding: 8px 16px;
      border-radius: 20px;
      font-size: 0.9em;
      border: none;
      cursor: pointer;
    }

    .boton-ayuda:hover {
      background-color: #0040aa;
    }

   
    
    .search-wrapper {
      position: relative;
      width: 300px;
    }

    .search-input {
      width: 100%;
      padding: 10px 40px 10px 15px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 25px;
      outline: none;
      transition: border-color 0.3s ease;
    }

    .search-input:focus {
      border-color: #007bff;
    
    }

    .search-input:focus + svg {
      fill: #007bff;
    }


    /* BANNER */
    .banner {
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #020202, #5e82ac); 
  background-image: url(../images/logo1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 1;
  overflow: hidden;
  text-shadow: 1px 1px 3px black;
  position: relative;
}
.banner-content h1, .banner-content p {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);}

.banner-overlay {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}


.btn-banner {
  background-color: white;
  color: #004080;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.banner-imagen img {
  height:350px;
  object-fit: contain;
  border-radius: 20px; 
  
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
  z-index: 1;
}

.banner h1 {
  position: relative;
  z-index: 2;

}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
box-shadow: 0 6px 15px;

}




/* CUADROS */

.cuadros-info {
      padding: 20px;
      border-radius: 20px;
      width: max-content;
      position: absolute;
      top: 750px;
      margin-top: -100px;
      justify-content: center;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 20px;
      z-index: 5;
    }

    .cuadro {
      background: rgb(238, 240, 241);
      color: #000000;
      border-radius: 12px;
      padding: 40px;
      width: 200px;
      height: 230px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      transition: all 0.3s ease-in-out;

    }

    .cuadro:hover{

     transform: scale(1.05);
     box-shadow: 0 10px 20px
     rgba(0, 0, 0, 0.3)
     

    }

    .cuadro h3 {
      margin-bottom: 10px;
      color: #000000;
    }

    .cuadro p {
      font-size: 0.9em;
    }




.imagen-seccion {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.imagen-seccion img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.imagen-seccion img:hover {
  transform: scale(1.02);
}
